{# src/Sushi/SushiBundle/Resources/views/Page/login.html.twig #}
{% extends 'SushiSushiBundle::layout.html.twig' %}
	{% block stylesheets %}
	    <script src="{{ asset('js/jq.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reg-style.css') }}">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="{{ asset('js/userpage.js') }}"></script>
	{% endblock %}
	{% block body %}
				<div class="wrap">
                        <div class="container">
							<div class="logo">
								<a href="{{ path('sushi_sushi_startpage')}}"><img src="{{ asset('img/logo.png') }}" class="logo__item"></a>
							</div>
							<div class="enter-form">
								<form>
									<div class="enter-wrap">
										<div class="form-block form-phone-number">
											<label for="phone">Номер телефону або e-mail</label><br>
											<input type="text" name="phone" id="phone" class="form-input" >
										</div>
										<div class="form-block form-password">
											<label for="password">Введіть пароль</label><br>
											<input type="password" name="password" id="password" class="form-input" required>
										</div>
										<button class="btn btn-enter" >Вхід</button>
										<div class="form-block form-enter-social">
											<p class="form-enter-social__title">Увійти за допомогою</p>
											<a href="https://www.facebook.com/v2.11/dialog/oauth?client_id={156344731759514}&redirect_uri={redirect-uri}"><img class="btn-social btn-social--enter-fb" src="{{ asset('img/facebook.png') }}"></a>
											<!-- <div id="fb-root"></div>
											<script>
												(function(d, s, id) {
												  var js, fjs = d.getElementsByTagName(s)[0];
												  if (d.getElementById(id)) return;
												  js = d.createElement(s); js.id = id;
												  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=1653251438066568';
												  fjs.parentNode.insertBefore(js, fjs);
												}(document, 'script', 'facebook-jssdk'));
											</script>
											<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div> -->
											<img class="btn-social btn-social--enter-g" src="{{ asset('img/google-logo.png') }}">
											<img class="btn-social btn-social--enter-ins" src="{{ asset('img/instagram-logo.png') }}">
										</div>
										<div class="form-block">
											<p>Не зареєстровані?<a href="signup"> Зареєтруватися</a></p>
										</div>
										<div class="form-block">
											<span class="rst-password-btn">Забули пароль</span>
										</div>
									</div>
									<div class="rst-password">
										<ul>
											<li class="rst-password__item">
												<label for="re-password">Щоб відновити пароль введіть свій e-mail</label>
											</li>
											<li class="rst-password__item">
												<input class="form-input" type="email" name="recall-password" id="re-password" >
											</li>
											<li class="rst-password__item">
												<button class="btn btn-rst-password">Відновити пароль</button>
											</li>
											<li class="rst-password__item">
												<span class="rst-password-btn">Згадали пароль</span>
											</li>
										</ul>
									</div>
									
								</form>
								
								
							</div>
                        </div>
				</div>
	{% endblock %}